/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../content/fonts/inter-v12-latin-regular.woff2") format("woff2"), url("../content/fonts/inter-v12-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../content/fonts/inter-v12-latin-600.woff2") format("woff2"), url("../content/fonts/inter-v12-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../content/fonts/inter-v12-latin-700.woff2") format("woff2"), url("../content/fonts//inter-v12-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
}
@media (min-width: 740px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 980px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.625rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
}
@media (min-width: 740px) {
  h2 {
    font-size: 2rem;
  }
}
@media (min-width: 980px) {
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.375rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
}
@media (min-width: 740px) {
  h3 {
    font-size: 1.5rem;
  }
}
@media (min-width: 980px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.125rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
}

nav ul {
  list-style: none;
}

.content-wrapper {
  max-width: 67.5rem;
  padding: 0 1rem;
  margin: auto;
  position: relative;
}

body {
  background-color: #20a2be;
}

.logo-wrapper {
  display: flex;
}
.logo-wrapper a {
  display: inline-block;
  margin: auto;
}
.logo-wrapper .logo {
  width: 70px;
}

nav {
  padding: 1rem;
}

.main-daydiv {
  display: flex;
  flex-direction: column;
}
.main-daydiv button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 82px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.04) 100%);
  border: none;
  color: #fff;
  height: 72px;
}
.main-daydiv button div:first-child {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
}



/*# sourceMappingURL=main.css.map */




