/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("content/fonts/inter-v12-latin-regular.woff2") format("woff2"), url("content/fonts/inter-v12-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("content/fonts/inter-v12-latin-600.woff2") format("woff2"), url("content/fonts/inter-v12-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("content/fonts/inter-v12-latin-700.woff2") format("woff2"), url("content/fonts//inter-v12-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
* ::-moz-selection {
  background-color: none;
  color: #0f4a57;
}
* ::selection {
  background-color: none;
  color: #0f4a57;
}

h1 {
  font-size: 1.5rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
}
@media (min-width: 320px) {
  h1 {
    font-size: 2rem;
  }
}
@media (min-width: 740px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 980px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.375rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
}
@media (min-width: 320px) {
  h2 {
    font-size: 1.625rem;
  }
}
@media (min-width: 740px) {
  h2 {
    font-size: 2rem;
  }
}
@media (min-width: 980px) {
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
}
@media (min-width: 320px) {
  h3 {
    font-size: 1.375rem;
  }
}
@media (min-width: 740px) {
  h3 {
    font-size: 1.5rem;
  }
}
@media (min-width: 980px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.125rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
}

nav ul {
  list-style: none;
}

.content-wrapper {
  max-width: 67.5rem;
  padding: 0 1rem;
  margin: auto;
  position: relative;
}

body {
  background-color: #20a2be;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0 1rem;
  margin-top: 1rem;
  height: 85px;
}
@media (min-width: 980px) {
  .header {
    justify-content: flex-end;
    margin: auto;
    height: auto;
  }
}

.navbar {
  position: relative;
  order: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (min-width: 980px) {
  .navbar {
    height: auto;
    margin-right: auto;
  }
}

.logo-wrapper {
  display: flex;
}
.logo-wrapper a {
  display: inline-block;
  margin: auto;
  transition: all 200ms ease-in-out;
}
.logo-wrapper a.is-covered {
  display: none;
}
@media (min-width: 980px) {
  .logo-wrapper a.is-covered {
    display: block;
  }
}
.logo-wrapper .logo {
  width: 70px;
  animation: rotateSun 10s linear infinite;
}
@media (min-width: 980px) {
  .logo-wrapper .logo {
    width: 150px;
  }
}
.logo-wrapper .logo:hover {
  animation-duration: 3s;
}

@keyframes rotateSun {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  position: absolute;
  right: 0;
  width: 53px;
  transition: all 200ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.search.is-clicked {
  width: 100%;
}
@media (min-width: 980px) {
  .search {
    position: relative;
    order: 4;
  }
}

.search-bar {
  position: relative;
  width: 100%;
  height: 50px;
}

.search-icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #d8eff3;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  top: 0;
  right: 0;
  cursor: pointer;
}
.search-icon-holder.is-clicked {
  cursor: default;
}

.search-icon {
  position: relative;
  width: 20px;
  height: 24px;
}

#searchInput {
  background-color: #d8eff3;
  width: 53px;
  height: 53px;
  border-radius: 100px;
  border: none;
  color: #0f4a57;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 200ms ease-in-out;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
#searchInput:active, #searchInput:focus, #searchInput:focus-visible, #searchInput:focus-within {
  outline: none;
}
#searchInput.is-clicked {
  width: calc(100% - 16px);
  padding-left: 16px;
}

.search-results {
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 8px;
  z-index: 2;
}
.search-results ul {
  list-style: none;
  border-radius: 8px;
}
.search-results ul li {
  background-color: #fff;
  display: inline-block;
  width: 100%;
}
.search-results ul li:first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.search-results ul li:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.search-results ul li:hover {
  background-color: #0f4a57;
}
.search-results ul li:hover button {
  background-color: #0f4a57;
  color: #fff;
}
.search-results ul li button {
  color: #0f4a57;
  border: none;
  background-color: #fff;
  text-align: left;
  padding: 8px;
  border-radius: inherit;
  width: 100%;
}

.flag {
  display: none;
}

.search-holder-mobile {
  width: 53px;
  height: 53px;
  order: 3;
}

.toggleDiv {
  position: relative;
  height: 53px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (min-width: 980px) {
  .toggleDiv {
    order: 3;
    margin-right: 16px;
  }
}
.toggleDiv.is-covered {
  display: none;
}
@media (min-width: 980px) {
  .toggleDiv.is-covered {
    display: block;
  }
}

.toggleElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: #d8eff3;
  border-radius: 50px;
  width: 106px;
  height: 100%;
  position: relative;
}
.toggleElement label {
  display: flex;
  color: #0f4a57;
  z-index: 1;
  width: 53px;
  height: 53px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.check {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ffcb44;
  width: 46px;
  height: 46px;
  top: 50%;
  transform: translate(0, -50%);
  padding: 8px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  margin-left: 4px;
  margin-right: 4px;
  transition: all 200ms ease-in-out;
}
.check:checked {
  transform: translate(calc(100% + 6px), -50%);
  transition: all 200ms ease-in-out;
}

.hideF {
  display: none;
}

.hero {
  margin-top: 4rem;
  margin-bottom: 3.625rem;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.hero.is-warning-active {
  gap: 3.875rem;
}
@media (min-width: 740px) {
  .hero {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
  width: 290px;
}
@media (min-width: 740px) {
  .hero-box {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 0rem;
  }
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero-info:hover {
  cursor: pointer;
}

.hero-location {
  text-align: center;
}
.hero-location h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}
.hero-location .hero-date span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.hero-current {
  margin-top: 1rem;
}
.hero-current .hero-icon {
  display: flex;
}
@media (min-width: 320px) {
  .hero-current .hero-icon {
    gap: 1rem;
  }
}
.hero-current .hero-icon .weatherIcon {
  width: 75px;
  height: 91px;
}
@media (min-width: 320px) {
  .hero-current .hero-icon .weatherIcon {
    width: 114px;
  }
}

.hero-temp {
  display: flex;
  flex-direction: column;
}
.hero-temp .hero-feels {
  display: flex;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#hero-temp {
  font-weight: 400;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
}

#right-now {
  font-size: 1.5;
  font-weight: 400;
  text-align: center;
}

.hero-feel {
  display: flex;
  gap: 6px;
  text-align: center;
}

.warning {
  display: flex;
  justify-content: center;
  width: 290px;
}
.warning div {
  width: 100%;
}

.now-info {
  width: 100%;
}

.now-warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.now-warning h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.now-two-holder {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.09) 100%);
  border-radius: 16px;
  padding: 24px 0;
}
@media (min-width: 740px) {
  .now-two-holder {
    padding: 24px 0;
  }
}

.now-icon {
  text-align: center;
}

#varning-icon {
  width: 50px;
}

.now-message {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  gap: 8px;
  text-align: center;
}

.main-daydiv {
  display: flex;
  flex-direction: column;
}
.main-daydiv button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  position: relative;
  width: 100%;
  border: none;
  border-radius: 8px;
  margin-bottom: 8px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.04) 100%);
  color: #fff;
}
@media (min-width: 320px) {
  .main-daydiv button {
    gap: 48px;
  }
}
.main-daydiv button:hover {
  cursor: pointer;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
}
.main-daydiv button :last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.main-daydiv button :last-child div:first-child {
  display: flex;
  margin-right: 0.5rem;
  width: 30px;
}
@media (min-width: 320px) {
  .main-daydiv button :last-child div:first-child {
    margin-right: 2rem;
  }
}
@media (min-width: 980px) {
  .main-daydiv button :last-child div:first-child {
    justify-content: center;
    width: 60px;
  }
}
@media (min-width: 980px) {
  .main-daydiv button :last-child div:first-child .weatherIcon {
    width: 30px;
  }
}
.main-daydiv button :last-child div:last-child {
  flex-direction: column;
  align-items: flex-end;
  width: 30px;
}
@media (min-width: 980px) {
  .main-daydiv button :last-child div:last-child {
    width: 60px;
  }
}
.main-daydiv button :last-child div:last-child :first-child {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.dayBtn {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}
.dayBtn h2 {
  width: 95px;
}
@media (min-width: 320px) {
  .dayBtn h2 {
    width: 105px;
    margin-right: 1rem;
  }
}
@media (min-width: 740px) {
  .dayBtn h2 {
    width: 126px;
    margin-right: 2rem;
  }
}
@media (min-width: 980px) {
  .dayBtn h2 {
    width: 140px;
    margin-right: 3rem;
  }
}
.dayBtn h3 {
  text-align: right;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.weather-temp-titles {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.6rem;
  margin-right: 8px;
  padding: 8px 1px 8px 8px;
}
@media (min-width: 320px) {
  .weather-temp-titles {
    gap: 1.5rem;
    font-size: 0.75rem;
    margin-right: 20px;
  }
}
.weather-temp-titles div:first-child {
  margin-right: 1rem;
}
@media (min-width: 320px) {
  .weather-temp-titles div:first-child {
    margin-right: 0rem;
  }
}
@media (min-width: 980px) {
  .weather-temp-titles div:first-child {
    margin-right: 2.5rem;
  }
}

.temp-high-low {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.temp-high-low p:first-child {
  border-bottom: 1px solid #fff;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

.breadNav {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.breadcrumb-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.breadcrumb-wrapper span {
  font-weight: 900;
  font-size: 20px;
}

.breadNavHome {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.09) 100%);
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}
.breadNavHome h3 {
  font-weight: 500;
  font-size: 20px;
}

.home-icon-holder {
  width: 30px;
}

.home-icon {
  width: 23px;
  filter: brightness(0) invert(1);
}

.breadcrumb-day {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.09) 100%);
  border-radius: 8px;
  padding: 8px;
}
.breadcrumb-day h3 {
  font-weight: 500;
  font-size: 20px;
}

.hourlyDivWrapper {
  display: flex;
  flex-direction: column;
}

.hourlyWeekday {
  margin-bottom: 1.5rem;
}

.hourlyInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timeInfo {
  margin-left: 5px;
}
@media (min-width: 320px) {
  .timeInfo {
    margin-left: 8px;
  }
}

.infoDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 1px 8px 8px;
  font-size: 0.6rem;
  gap: 1.05rem;
}
@media (min-width: 320px) {
  .infoDiv {
    font-size: 0.75rem;
    gap: 1.2rem;
    margin-right: 14px;
  }
}

.hourlyWind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hourlyWind :first-child {
  font-weight: 600;
}

.hourly-rain {
  display: flex;
  flex-direction: column;
}
.hourly-rain :first-child {
  font-weight: 600;
}

.hourlyWeatherDiv {
  margin-bottom: 5rem;
}
.hourlyWeatherDiv span {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-weight: 100;
}

.hourlyElementDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  font-size: 18px;
  margin-bottom: 0.5rem;
  padding: 6px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.04) 100%);
}
@media (min-width: 320px) {
  .hourlyElementDiv {
    font-size: 22px;
  }
}

.hourlyDayDiv {
  display: flex;
  text-align: left;
  gap: 0.5rem;
}
@media (min-width: 320px) {
  .hourlyDayDiv {
    gap: 1rem;
  }
}
.hourlyDayDiv span {
  text-align: right;
  width: 35px;
}
@media (min-width: 320px) {
  .hourlyDayDiv span {
    width: 40px;
  }
}
.hourlyDayDiv .logo-wrapper {
  justify-content: flex-end;
  width: 40px;
}
.hourlyDayDiv .weatherIcon {
  width: 20px;
}
@media (min-width: 320px) {
  .hourlyDayDiv .weatherIcon {
    width: 25px;
  }
}

.weatherIcon {
  width: 25px;
  filter: invert(1) grayscale(100%) brightness(1000%);
}

.otherinfo-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.otherinfo-heading {
  margin-bottom: 1.5rem;
}

.article-info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
@media (min-width: 980px) {
  .article-info-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.otherinfo-article {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 16px 8px;
  gap: 0.5rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.04) 100%);
}
@media (min-width: 980px) {
  .otherinfo-article {
    height: auto;
  }
}
.otherinfo-article h4 {
  font-weight: 500;
  line-height: 24px;
}
.otherinfo-article p {
  font-weight: 400;
  line-height: 24px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 150px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
}

.copyright {
  margin-bottom: 2rem;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #20a2be;
}

.progress {
  align-self: center;
  background-color: #f4a261;
  position: relative;
  height: 15px;
  width: 165px;
  border: 1px solid #f4a261;
  border-radius: 15px;
}

.progress .color {
  position: absolute;
  background-color: #ffa800;
  width: 0px;
  height: 15px;
  border-radius: 15px;
  animation: progres 4s infinite linear;
}

@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}
@media (min-width: 740px) {
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #20a2be;
  }
  .progress {
    align-self: center;
    background-color: #f4a261;
    position: relative;
    height: 20px; /* increase the height */
    width: 220px; /* double the width */
    border: 1px solid #f4a261;
    border-radius: 15px;
  }
  .progress .color {
    position: absolute;
    background-color: #ffa800;
    width: 0px;
    height: 20px; /* adjust the height */
    border-radius: 15px;
    animation: progress 4s infinite linear;
  }
  @keyframes progress {
    0% {
      width: 0%;
    }
    25% {
      width: 50%;
    }
    50% {
      width: 75%;
    }
    75% {
      width: 85%;
    }
    100% {
      width: 100%;
    }
  }
}/*# sourceMappingURL=main.css.map */