* {
  padding: 0;
  margin: 0;
  color: #fff;

  @include fontRegular("Inter");
}

h1 {
  font-size: 1.5rem;

  @include fontSemiBold("Inter");

  @include devices(mobile) {
    font-size: 2rem;
  }

  @include devices(tablet) {
    font-size: 2.5rem;
  }

  @include devices(desktop) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.375rem;

  @include fontMedium("Inter");

  @include devices(mobile) {
    font-size: 1.625rem;
  }

  @include devices(tablet) {
    font-size: 2rem;
  }

  @include devices(desktop) {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1rem;

  @include fontMedium("Inter");

  @include devices(mobile) {
    font-size: 1.375rem;
  }

  @include devices(tablet) {
    font-size: 1.5rem;
  }

  @include devices(desktop) {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.125rem;

  @include fontRegular("Inter");
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  ul {
    list-style: none;
  }
}

.content-wrapper {
  max-width: 67.5rem; //1080px
  padding: 0 1rem;
  margin: auto;
  position: relative;
}

body {
  background-color: $mainColor;
}