.main-daydiv {
  display: flex;
  flex-direction: column;

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    gap: 48px;
    position: relative;
    width: 100%;
    border: none;
    border-radius: 8px;
    margin-bottom: 8px;

    &:hover {
      cursor: pointer;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
      );
    }

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.04) 100%
    );
    color: #fff;

    :last-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include fontRegular("Inter");

      div:first-child {
        display: flex;
        margin-right: 2rem;

        .weatherIcon {
          @include devices(desktop) {
            width: 30px;
          }
        }
      }

      div:last-child {
        flex-direction: column;
        align-items: flex-end;
        width: 30px;

        :first-child {
          @include fontSemiBold("Inter");
        }
      }
    }
  }
}

.dayBtn {
  display: flex;
  justify-content: space-between;
  @include fontSemiBold("Inter");

  h2 {
    width: 105px;
    margin-right: 1rem;
    text-align: left;

    @include devices(tablet) {
      width: 126px;
      margin-right: 2rem;
    }

    @include devices(desktop) {
      width: 140px;
      margin-right: 3rem;
    }
  }

  h3 {
    text-align: right;

    @include fontRegular("Inter");
  }
}

.weather-temp-titles {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  margin-right: 8px;
  font-size: 0.75rem;
  padding: 8px 1px 8px 8px;
}

.temp-high-low {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p:first-child {
    border-bottom: 1px solid #fff;
    margin-bottom: 1px;
    padding-bottom: 1px;
  }
}
