.header {
  display: flex;
  justify-content: center;

  @include devices(desktop) {
    justify-content: flex-start;
  }
}

.logo-wrapper {
  display: flex;
  a {
    display: inline-block;
    margin: auto;
  }
  .logo {
    width: 70px;

    @include devices(desktop) {
      width: 150px;
    }
  }
}

nav {
  padding: 1rem;
}
