.header {
  display: flex;
  justify-content: center;

  @include devices(desktop) {
    justify-content: flex-start;
  }
}

.logo-wrapper {
  display: flex;
  a {
    display: inline-block;
    margin: auto;
  }
  .logo {
    width: 70px;
    animation: rotateSun 10s linear infinite;

    @include devices(desktop) {
      width: 150px;
    }
  }
}

nav {
  padding: 1rem;
}

@keyframes rotateSun {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
