.breadNav {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.breadcrumb-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;

  span {
    font-weight: 900;
    font-size: 20px;
  }
}

.breadNavHome {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.09) 100%
  );
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;

  h3 {
    font-weight: 500;
    font-size: 20px;
  }
}

.home-icon-holder {
  width: 30px;
}

.home-icon {
  width: 23px;
  filter: brightness(0) invert(1);
}

.breadcrumb-day {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.09) 100%
  );
  border-radius: 8px;
  padding: 8px;

  h3 {
    font-weight: 500;
    font-size: 20px;
  }
}
