.otherinfo-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.otherinfo-heading {
  margin-bottom: 1.5rem;
}

.article-info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  @include devices(desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.otherinfo-article {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 8px;
  padding: 16px 8px;
  gap: 0.5rem;

  @include devices(desktop) {
    height: auto;
  }

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.04) 100%
  );

  h4 {
    font-weight: 500;
    line-height: 24px;
  }

  p {
    font-weight: 400;
    line-height: 24px;
  }
}
